
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
body{
  font-family: 'Open Sans';
  color: #323232;
}
#page_title p{
  text-align: center;
  font-size: 2.5em;
  margin: 0 auto;
  padding: 50px;
  padding-bottom: 10px;
  font-weight: bolder;
}
#names p{
  text-align: center;
  font-size: 1em;
  margin: 0 auto;
  font-weight: bolder;
  padding-bottom: 10px;
}
div.container{

}
#top_L{
  float: left;
  margin-top: inherit;
  width:65%;
}
#top_R{
  float: right;
  margin-top: 0;
  width:35%;
}
#bottom_L{
  float: left; margin-top: inherit; width:100%;
}
#bottom_R{
  float: right; margin-top: inherit; width:100%;
}
#bottom_R h3{
  text-align: center;
  display: inline-block 100%;
  background: #7fcdbb;
  color: #323232;
  line-height: 35px;
/*  border-bottom: 3px solid #7fcdbb;*/
}
#bottom_R p{
  text-indent: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
#project_info{
  font-size: 11px;
  font-family: sans-serif;
}
a:link {
    color: #528B8B;
}
a:visited {
    color: #528B8B;
}
#linegraph{
  display: table;
}
