.key path {
  display: none;
}

.key line {
  stroke: #000;
  shape-rendering: crispEdges;
}

.key {
  	float: right;
	margin-right: 0;
  	font-family: sans-serif;
  	font-size: 11px;
}

#key {
	/*margin-top: 25px;*/
}
