#key{
	float:right;
}
#key li{
	list-style-type:none;
	font-family: sans-serif;
	line-height: 13px;
}
#key span{
	font-family: sans-serif;
	font-size: 12px;
}
#key ul{
/*	not sure if this is doing anything?*/
  padding:0;
  margin-left:0px;
  padding-right: 20px;
  margin-top: 0px;
}
