
	#map{
		float:left;
	}

	#legend{
		float:left;
	}

	#legend li{
		list-style-type:none;
		font-family: sans-serif;
	}

	#answers{
		clear: both;
	}

	.hidden{
		display:none;
	}
	path{
		fill: none;
	}
	path.tract{
		stroke:lightgrey;
	}