
	#map{
		float:left;
	}

	#legend{
		float:left;
	}

	#legend li{
		list-style-type:none;
		font-family: sans-serif;
	}

	#answers{
		clear: both;
	}

	.hidden{
		display:none;
	}
	.background {
				  fill: none;
				  pointer-events: all;
				}
	.tract {
	  fill: #ccc;
	  cursor: pointer;
	}
	.tract.selected {
	  fill: orange;
	}
	.mesh {
	  fill: none;
	  stroke: #fff;
	  stroke-linecap: round;
	  stroke-linejoin: round;
	}
