.downloadTableBody {
  display: block;
  overflow: auto;
  height: 50px;
}

.downloadTable, .downloadTable td {
  font-family:sans-serif;
  font-size:10pt;
}

.removeButton {
    background-color: #f4f4f4;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}
